<h1>tweet#index</h1>
<p>Find me in app/views/tweet/index.html.erb</p>

<% @tweets.each do |tweet| %>
<thead>
    <tr>
      <td><%= tweet.id %></td>,
      <td><%= tweet.the_tweet %></td>,
      <td><%= tweet.author_name %></td>,
      <td><%= tweet.tweet_date_of %></td>,
      <td><%= tweet.created_at %></td>,
      <td><%= tweet.updated_at %></td>,
      <td><%= tweet.user_id %></td>,
    </tr>
    </br>
</thead>

<% end %>